​.header{
	font-size: 12px;
	font-weight: bold;
}

.container00{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.arrow-down{
	width: 100px;
	display: inline-block;
	margin-top: 5px;
}

.logoPc {
  width: 240px;
  margin-left: -10px;
  margin-right: 20px;
}