.container00{
	&.container01{
		background-image: url(../../onebitX/home/01.jpg) 
		
	}	
	&.container02{
		background-image: url(../../onebitX/home/03.jpg) 
	}	
	&.container03{
		background-image: url(../../onebitX/home/02.gif) 
	}	
	&.container04{
		background-image: url(../../onebitX/home/04.jpg) 
	}	
}


.titlePadding{
	padding-top: 200px;
}
